<section class="collaboration-area collaboration-area-v2 pt-148 pb-108 border-top">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="app-preview-image text-center text-lg-left content-right-spacer oval-gradient animate-float-bob-x wow fadeInDown" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <img src="assets/img/app/promote-app-preview.png" alt="promote your app">
                </div>
            </div>
            <div class="col-lg-5">
                <div class="section-title section-title-mirage">
                    <div class="section-heading-tag">
                        <span class="single-heading-tag">Explore Features</span>
                    </div>
                    <h2>Promote Your App <span>With Landing</span> Pages</h2>
                    <div class="section-title-description">
                        <p class="mb-15">On the other hand, we denounce with righteous indignation and dislike men who are beguiled and demoralized the charms of pleasure.</p>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus blanditiis praesentium volupta</p>
                    </div>
                    <div class="section-button-wrapper">
                        <a routerLink="/about" class="filled-btn bg-mandy button-radius">
                            Learn More <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>