<section class="about-us-area pt-130 pb-150">
    <div class="container">
        <div class="row align-items-center align-items-center">
            <div class="col-lg-7">
                <div class="blob-image-wrapper content-right-spacer">
                    <div class="blob-shape-wrapper">
                        <img src="assets/img/particle/thumbs-up-particle-blue.png" alt="blue thumbs up" class="blob-shape blob-shape-1 animate-float-bob-y">
                        <img src="assets/img/particle/announcement-particle-orange.png" alt="orange announcement" class="blob-shape blob-shape-2 animate-float-bob-x">
                        <img src="assets/img/particle/paper-plane-particle-orange.png" alt="orange paper plane" class="blob-shape blob-shape-3 animate-float-bob-x">
                    </div>
                    <div class="blob-main-image wow fadeInUp" data-wow-delay="00ms" data-wow-duration="2500ms">
                        <img src="assets/img/hero/hero-blob-2.png" alt="about blob">
                    </div>
                </div> <!-- /.blob-image-wrapper -->
            </div>
            <div class="col-lg-5">
                <div class="section-title section-title-ocean-blue">
                    <div class="section-heading-tag">
                        <span class="single-heading-tag">About Landio</span>
                    </div>
                    <h2>Marketing Intelligence
                        <span>SEO</span>
                        and Content
                    </h2>
                    <div class="section-title-quote">
                        <p>Quae abillo inventore veritatis quasi archite beataey vitae dicta sunt explicabo voluptatem</p>
                    </div>
                    <div class="section-title-description">
                        <p>Sed ut perspiciatis unde omnis iste natus error voluptate accusantium doloremque laudantium totam aperiam eaqsy ipsa quae abillo inventore veritatis quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aute.</p>
                    </div>
                    <div class="section-button-wrapper">
                        <a routerLink="/about" class="filled-btn">
                            Learn More <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>